@font-face {
	  font-family: "Fjalla One";
	  src: url("fonts/FjallaOne-Regular.ttf") format("ttf"),
		   url("fonts/FjallaOne-Regular.ttf") format("ttf");
	}
	   
	@keyframes fadein {
		0%   {opacity: 1}
		25%  {opacity: 0.75}
		50%  {opacity: 0.5}
		75%  {opacity: 0.25}
		100% {opacity: 0}
	}

	@keyframes moving {
		0%   {margin-top: 1px}
		25%  {margin-top: 5px}
		50%  {margin-top: 10px}
		75%  {margin-top: 5px}
		100% {margin-top: 1px}
	}
	
	@keyframes moving-side {
		0%   {left: 27%}
		25%   {left: 26%}
		50%  {left: 25%}
		75%   {left: 24%}
		100%  {left: 23%}
	}
	
	@keyframes moving-top {
		0%   {top: 50%}
		100%  {top: 45%}
	}
	
	 html, body {
		margin:0px;
		padding:0px
		width: 100%;
		height: 100%;
		overflow:hidden;
		background-color:#fff;
	}
	
	#bg_game{
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 200, 0) ;
		overflow:hidden;
		font-family: 'Fjalla One', sans-serif;
	
	}
	
	
	.square{
		width: 300px;
		height: 280px;
		position: absolute;
		top: 50%;
		left: calc(50% - 150px);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		background: rgb(140,60,100);
		font-size: 200px;
		color: #fff;
		text-align: center;
		padding-top: 20px;
	}
	
	.bt-center{
		width: 50%;
		position: absolute;
		z-index: 98;
		top: 50%;
		left: 25%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		
	}
	
	#btreturn{
		animation-name: moving-side;
	    animation-duration: 1s;
		animation-iteration-count: infinite;
	}
	
	#btwin{
		animation-name: moving-top;
	    animation-duration: 1s;
		animation-iteration-count: infinite;
	}
	
	#scoring{
		font-size:30px;
		text-align: center;
		margin-top: 100px;
		color: #fff;
	}
	
	#logo{
		width: 60%;
		display: block;
		margin: 0 auto;
		margin-top: 100px;
	}
	
	.btn{
		width: 50%;
		display: block;
	}
	
	.btn-mini{
		width: 30%;
		display: block;
	}
	
	.center{
		margin: 0 auto;
	}
	
	.mt2{
		margin-top:20px;
	}
	
	.mt5{
		margin-top:50px;
	}
	
	.mt10{
		margin-top:100px;
	}
	
	.mt15{
		margin-top:150px;
	}
	
	.fadein-page{
	  opacity: 0;
	  animation-name: fadein;
	  animation-duration: 0.5s;
	}
	
	#tutorial{
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgb(148,68,108) ;
		overflow:hidden;
		font-family: 'Fjalla One', sans-serif;	
	}
	
	.message{
		font-size: 20pt;
		text-align: center;
		margin-top: 100px;
		color: #fff;
	}
	
	#menu{
		display: none;
		height: 80%;
	}
	
	.hand-click{
		z-index: 999;
		display:block;
		position: fixed;
		top: 50%;
		left: 50%;
		width: 50%;
		animation-name: moving;
	    animation-duration: 1s;
		animation-iteration-count: infinite;
	}
	

	.ms-bt{
		position: fixed;
		top: 75%;
		width: 80%;
		left: 10%;
		text-align: center;
	}
	
	#bt-returnmenu{
		background-color:#fff;
		padding:5px;
		border-radius: 5px;
		width: 50px;
		text-align: center;
		margin: 5px;
		opacity: 0.5;
		float:left;
		z-index:98;
	}
	
	#datagame{ 
		padding:5px;
		border-radius: 5px;
		width: 100px;
		text-align: right;
		margin: 5px;
		opacity: 0.5;
		float:left;
	}
	
	#record{
		padding:5px;
		border-radius: 5px;
		width: 100px;
		height: 25px;
		text-align: right;
		margin: 5px;
		opacity: 0.5;
		float:left;
	}
	#record img{
		height: 100%;
	}
	
	#record span{
		position: relative;
		top: -5px;
	}
	
	#start{
		width: 100%;
		height: 100%;
	}

	
	#logo-main{
		width: 80%;
		display: block;
		margin: 0 auto;
		margin-top: 100px;
	}
	
	.submessage{
		text-align:center;
	}
	
	#change{
		display: none;
		width: 100%;
		height: 100%;
		font-family: 'Fjalla One', sans-serif;	
	}
	
	#logo-fail{
		display: block;
		margin: 0 auto;
	}
	
	.screent{
		width:100%;
		height: 100%;
		background-color:#fff;
		margin: 0px;
	}
	